# dependencies
node_modules/

# builds
dist/
build/
.vite/

# local env
.env
.env.*
!.env.example

# logs
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db
